
body {
  background-color:#DAE2DF;
  font-family:Georgia, 'Times New Roman', Times, serif;/*use fonts that are commonly used*/
  font-size: 25px;
}

header {
  background-color:black;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  color: #C8D3D5;
}

hr {
  width: 400px;/*shorten the line break*/
}

h1 {
  margin: 0;/*need 0 margins so decreases space between h1 and h2*/
  font-size: 60px;
}

h2 {
  font-size: 15px;
  margin: 0;
}

h3, h4, .headingcenter { /*combine h3, h4 psuedo-class*/
  text-align: center;
}

a.highlight:hover {
  color: #ff0000;
} 

image {
  width: 200px;
  height: 200px;
}

main {
  padding: 0;/*need padding at 0 so gap between text and image isn't too large*/
}

footer {
  background-color:#A2A7A5;
  color: black;/*use white as it pops*/
}

.center {/*include pseudo-class*/
  text-align: center;
}

.wrapper {/*use wrapper to align content*/
  width: 500px;
  margin: auto;
}
