
body {/*body contains background color of body, family-font of entire text in body, font size that is larger readable*/
  background-color:#DAE2DF;
  font-family:Georgia, 'Times New Roman', Times, serif;/*use fonts that are commonly used*/
  font-size: 20px;
}

header {
  background-color:black;/*use of black to emphasis the header, need to make sure header is clear*/
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  color: #C8D3D5;
}

hr {
  width: 400px;/*shorten the line break*/
}

h1 {
  margin: 0;/*need 0 margins so decreases space between h1 and h2*/
  font-size: 60px;
}

h2 {
  font-size: 15px;
  margin: 0;
}

h3, h4, .headingcenter { /*combine h3, h4 psuedo-class*/
  text-align: center;
}

a:visited { /*styled link to psuedo-classes*/
  color: red;
}

a:hover { /*styled link psuedo-classes*/
  color: #ff0000;
} 

image {/*image size not too big*/
  width: 200px;
  height: 200px;
}

main {
  padding: 0;/*need padding at 0 so gap between text and image isn't too large*/
}

footer {
  background-color:#A2A7A5;/*use lighter background to emphasize text*/
  color: black;/*use black since clearer*/
}

.center {/*included pseudo-class*/
  text-align: center;
}

.wrapper {/*use wrapper to align content*/
  width: 500px;
  margin: auto;
}
